/* Styles go here */

body { 
    color:red;
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
}

header {
    height: 100px;
    background-color: lightblue;
    text-align: center;
    padding-top: 20px;
    box-shadow: 3px 3px 3px #ccc;
}

header h2 {
    font-size: 40px;
    font-weight: bold;
    color: dodgerblue;
    margin: 0;
}
weather-app
          {
             text-align: center;
             padding-top: 80px;
}

#search {
    font-size: 18px;
}

#search label {
    font-weight: bold;
}
